%ul.mainmenu
  %li= Html.ActionLink("Main Page","Index","Home")
  %li= Html.ActionLink("OpenID Management","Index","OpenId")
  %li= Html.ActionLink("Membership Administration","Index","MembershipAdministration")