@type=WebSample
%div
  %h2 WebSample Details
  %ul
  // __BEGIN__PROPERTY__
  %li
    %label{ for="WebSample_Property" } Property:
      %span{ id="WebSample_Property" }
        = ViewData.Model.Property
  // __END__PROPERTY__
