%div
  %h2 Delete WebSample
  %p Are you sure?
  - using (Html.BeginForm<WebSamplesController>(c => c.DeleteConfirmed(ViewData.Model.Id)))
    = Html.AntiForgeryToken()
    %input{ type="submit" value="Yes" }
    %input{ type="button" name="No" value="No" onclick="javascript:history.go(-1);"}
