@type=WebSample
%div
  %h2 WebSample Details
  %ul
// TODO: List of properties begin
  %li
    %label{ for="WebSample.Name" } Property:
      %span{ id="WebSample.Name" }
        = ViewData.Model.Property
// TODO: List of properties end
