%ul.footer
  %li.footer
    Index
    %ul
      %li= Html.ActionLink("Main Page","Index","Home")
  %li.footer
    User Administration
    %ul
      %li= Html.ActionLink("OpenID Administration","Index","OpenId")
      %li= Html.ActionLink("Membership Administration","Index","MembershipAdministration")
  %li.footer
    Controllers
    %ul
      %li= Html.ActionLink("Sample Controller","Index","WebSamples")