/* line 24, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body { text-align: center; }
/* line 38, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
* html body legend { margin: 0px -8px 16px 0; padding: 0; }
/* line 42, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
html>body p code { *white-space: normal; }

/* line 57, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
.container { text-align: left; }

/* line 59, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
sup { vertical-align: text-top; }

/* line 61, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
sub { vertical-align: text-bottom; }

/* line 63, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
hr { margin: -8px auto 11px; }

/* line 65, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
img { -ms-interpolation-mode: bicubic; }

/* line 67, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
fieldset { padding-top: 0; }

/* line 69, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
textarea { overflow: auto; }

/* line 72, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
input.text { margin: 0.5em 0; background-color: white; border: 1px solid #bbbbbb; }
/* line 76, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
input.text:focus { border: 1px solid #666666; }
/* line 78, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
input.title { margin: 0.5em 0; background-color: white; border: 1px solid #bbbbbb; }
/* line 82, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
input.title:focus { border: 1px solid #666666; }
/* line 84, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
input.checkbox { position: relative; top: 0.25em; }
/* line 87, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
input.radio { position: relative; top: 0.25em; }
/* line 90, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
input.button { position: relative; top: 0.25em; }

/* line 93, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
textarea { margin: 0.5em 0; }

/* line 95, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
select { margin: 0.5em 0; }

/* line 97, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
button { position: relative; top: 0.25em; }
