/* line 34, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body {
  text-align: center;
}
/* line 48, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
* html body legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 52, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
html > body p code {
  *white-space: normal;
}

/* line 67, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
.container {
  text-align: left;
}

/* line 69, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
sup {
  vertical-align: text-top;
}

/* line 71, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
sub {
  vertical-align: text-bottom;
}

/* line 73, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
hr {
  margin: -8px auto 11px;
}

/* line 75, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 77, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
fieldset {
  padding-top: 0;
}

/* line 79, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
textarea {
  overflow: auto;
}

/* line 82, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 86, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
input.text:focus {
  border: 1px solid #666666;
}
/* line 88, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 92, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
input.title:focus {
  border: 1px solid #666666;
}
/* line 94, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 97, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
input.radio {
  position: relative;
  top: 0.25em;
}
/* line 100, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
input.button {
  position: relative;
  top: 0.25em;
}

/* line 103, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
textarea {
  margin: 0.5em 0;
}

/* line 105, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
select {
  margin: 0.5em 0;
}

/* line 107, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
button {
  position: relative;
  top: 0.25em;
}
