%div
  %h2
    S#aml Architecture Project
  %h3
    What next?
  %h2= ViewData["Menu"]
  %p
    Your S#aml Architecture project is now setup and ready to go.  The only tasks remaining
    are to:
    %ol
      %li
        Create your database and set the connection string within NHibernate.config (for NHibernate) and Web.config (for the Role services)
      %li
        Import the database schemas found in the db directory
      %li
        Open WebBase.Tests.dll via NUnit and make sure all the tests are turning green.
      %li
        Add your first entity with CRUD scaffolding via <tt>shaml generate resource <i>res-name</i></tt>
  %p
    If you need direction on what to do next, take a look at 
    %a{ href="http://code.google.com/p/shaml-architecture/" } the project homepage
    , or ask questions at
    %a{ href="http://stackoverflow.com/questions/tagged/shaml" } Stack Overflow
    (tag questions with
    %tt shaml
    or
    %tt s#aml
    )

