@namespace=WebBase.Controllers
%h2.MvcMembership
  Password Successfully Reset
%h3.MvcMembership
  = Html.ActionLink("<< Return to Membership Administration","Index","MembershipAdministration")
%fieldset.MvcMembership
  %legend
    Password Successfully Reset
  %p
    The user's new password is:
  %p
    %b
      = ViewData["Password"]
